.page-header: h3 Include Into Page
div.bs-example
	a(href="https://raw.github.com/chronokz/O_o.js/master/css/O_o.css") O_o.css
	br
	a(href="https://raw.github.com/chronokz/O_o.js/master/js/O_o.js") O_o.js
div.highlight.html
	pre
		!{html}
		<code>&lt;!-- Use O_o.css --&gt;
		|&lt;link href="css/O_o.css" type="text/css" rel="stylesheet"&gt;
		&nbsp;
		|&lt;!-- Use jQuery --&gt;
		|&lt;script src="http://code.jquery.com/jquery-latest.min.js"&gt;&lt;/script&gt;
		|&lt;!-- Use O_o.js --&gt;
		|&lt;script src="js/O_o.js"&gt;&lt;/script&gt;
		</code>