nav.navbar.navbar-default.navbar-fixed-top.navbar-inverse(role="navigation")
	.container-fluid
		.navbar-header
			a.navbar-brand(href="#top") O_o.js
		.collapse.navbar-collapse
			ul.nav.navbar-nav
				li: a(href="#go_modals") Modal
				li: a(href="#go_scrolls") Scroll
				li: a(href="#go_translates") Translate
				li: a(href="#go_urls") Url
				li: a(href="#go_keys") Keys
				li: a(href="#go_templates") Template
				li: a(href="#go_json") JSON
				li: a(href="#go_forms") Form
			//form.navbar-form.navbar-right(role="search")
				.form-group
					input.form-control(type="text", placeholder="Search")
				button.btn.btn-default(type="submit") Submit