h4 Add zero before num
div.highlight.javascript
	pre
		!{html}
		<code>// Several examples
		|var num_for_converting = '02',
		|     length_for_result  = 5;
		|O_o.zerofill(num_for_converting, length_for_result); // '00005';
		|O_o.zerofill(10, 3); // '010';
		</code>