h4 Add active links into text
div.highlight.javascript
	pre
		!{html}
		<code>// For replacing text with inactive links, to text with active links
		|var text = 'example text http://yandex.kz/yandsearch?text=наш%20лось%20яндекс&clid=9582&lr=162 and more www.google.com';
		|var text_with_link = O_o.linkInsert(text);
		</code>