h4 How to translate
div.highlight.html
	pre
		!{html}
		<code>&lt;!-- For example: To translate into russian, add this after the line which included O_o.js --&gt;
		|&lt;script src="js/O_o.ru.js"&gt;&lt;/script&gt;
		</code>