h4 How to create file translate for my language
div.highlight.javascript
	pre
		!{html}
		<code>// Need create and include file js-file with next content: 
		|O_o.lang = {
		|	alert_close: 'Text for close button',
		|	confirm_yes: 'Say "Yes"',
		|	confirm_no: 'Say "No"',
		|	prompt_send: 'Send for prompt',
		|	prompt_cancel: 'Cancel for prompt'
		|};
		</code>