h4 Get URL-address & Redirect
div.highlight.javascript
	pre
		!{html}
		<code>// Get current URL:
		|var domainName = O_o.url();
		|// Redirect to Wikipedia
		|O_o.url("http://www.wikipedia.org");
		</code>