@import 'nib'

.O_o-disable_window
	fixed top left
	z-index 2000
	size(100%, 100%)
	background rgba(0,0,0, 0.3)
	.alert
		.O_o-alert_message
			clear both
		border 1px solid rgb(180, 180, 180)
		width 350px
		margin-top -(@width/2)px 
		background #f5f5f5
		color #515151
		border-radius 5px
		box-shadow 0 3px 7px rgba(0, 0, 0, 0.5)
		absolute top 50% left 50%
		z-index 2001
		margin-top -55px
		text-align center
		font-size 14px
		padding 20px 0
		line-height normal
		.prompt_area
			display block
			margin 0 auto
			size(300px, 100px)
			margin-top 20px
		.close
			margin-top -20px
			margin-right 5px
		.buttons
			margin-top 20px